* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: start;
}
/* div .container {
    background-color: rgb(216, 98, 151);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    /* height: 100%; */
    /* margin: 0; */
    /* box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1); */
    /* width: 100%; */
    /* overflow: hidden; */
/* }  */
.quiz-container {
    padding: 10rem;
    background-color: aliceblue;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1); */
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    justify-content: center;

}
.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1rem;
    border: 0.1rem solid black;
    background-color: aqua;
}
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.choice-prefix{
    padding: 5px;
    background-color: aquamarine;
    color: aliceblue;
}
.choice-text {
    padding: 1.5rem;
    width: fit-content;
}
#center {
    display: flex;
    justify-content: center;
    align-items: center;
}